version: "3.8"

services:
  ecommerce-api:
    build:
      context: .
    container_name: ecommerce-api
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://sql10.freesqldatabase.com:3306/sql10783924
      SPRING_DATASOURCE_USERNAME: sql10783924
      SPRING_DATASOURCE_PASSWORD: ZHEDvNZ4aC
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: com.mysql.cj.jdbc.Driver
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_JPA_DATABASE_PLATFORM: org.hibernate.dialect.MySQL8Dialect
      SPRING_JPA_SHOW_SQL: "true"
      SERVER_PORT: 8080
    networks:
      - ecommerce-net

networks:
  ecommerce-net:
    driver: bridge
